html {
    background-color: #A6CBFC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

body {
    background-color: #A6CBFC;
}

h1 {
    text-align: center;
}

div {

    text-align: center;
    padding: 20px;
    
}

.tempo {

    background-color: rgb(220, 235, 13);
    
}

.loginForm {

    background-color: rgba(56, 0, 112, 0.3);
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    /*width: 200px;
    height: 150px; */

}

.loginForm h1 {

    font-weight: bold;
    font-size: larger;
    padding-bottom: 30px;

}

.purpleBack {

    background-color: rgba(56, 0, 112, 0.3);
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    /*width: 200px;
    height: 150px; */

}

.purpleBack h1 {

    font-weight: bold;
    font-size: larger;
    padding-bottom: 30px;

}

.purpleBack input[type=text] {

    width: 100%;

}

.myButton {
    background-color: rgba(56, 0, 112, 0.3);
    border-radius: 25px;
    border: 2px solid #000000;
    color: black;
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .mySort {
    background-color: rgba(56, 0, 112, 0.3);
    border-radius: 25px;
    border: 2px solid #000000;
    color: black;
    width: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    height: 40px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  .buffer {

    height: 800px;

  }

  .buffer table{

    margin-top: 50px;
    margin-bottom: 50px;

  }

  .buffer h5 {

    padding-top: 250px;

  }